<% provide(:title, "About") %>

<h1 class="with_subtext">About Me</h1>
<i class="fas fa-subscript center">AKA How I leanrned to stop worrying (about becoming a doctor) and
    love the code.</i>
<img src="" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
<%= image_tag "pt_reyes.jpg", :class => "img-fluid center", :style => "display: block; margin: auto; width: 75%; margin-bottom: 30px;"  %>
<p>
    My name is Brian Espinosa and yes that kook up there is me. I am an ex pre-med student turned software engineer ambitioner/student. I originally had a goal of joining the medical field, and was all set and ready to do it. I had got a 3.5 in college in a tough major, I scored in the 98 percentile on my MCAT, and I had spent time volunteering. Then after all of that, I finally came to accept that I do not want to be a doctor, as it has never really been my passion. Computers and technology on the other hand I love and always have.

</p>
<p>
    I built my first computer when I was 11 years old and spent basically my entire life with that same computer, just upgrading it along the way. I spent way too much time sitting on that computer as a kid. I tinkered in everything. I installed OS x on it, ubuntu, ran a World of Warcraft private server for awhile. Anyways, the point is, I freaking love computers and it has taken me this long to finally to the realization that I want to spend my life studying and building stuff for them. So here I am deciding to write a blog about my journey into the field. I decided to do this not only so I had a reason to reflect on what I learned, but because I know that it is very stressful not knowing what to do in life and how hard it can be making a career switch.
</p>
