<div class="jumbotron center">
    <h1 class="display-3">Coding Noob Blog</h1>
    <p class="lead">Sharing my Journey from Coding Noob to Coding Savvy to Help you on your own Quest!</p>
    <hr class="my-2">
    <p>Created by Brian Espinosa</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Checkout the Blog!</a>
    </p>
</div>