<div class="jumbotron center">
    <h1 class="display-3">Coding Noob Blog</h1>
    <p class="lead">Sharing my Journey from Coding Noob to Coding Savvy to Help you on your own Quest!</p>
    <hr class="my-2">
    <p class="center">Created by Brian Espinosa</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg center" href="Jumbo action link" role="button">Checkout the Blog!</a>
    </p>
    <h2>My Recent Coding Activity</h2>
    <figure><embed src="https://wakatime.com/share/@5a63ee71-e5bb-438f-867e-971747bf2c58/150c26e1-427a-4bf1-9d31-efa77b86fe0e.svg"></embed></figure>
</div>