<% provide(:title, "Projects") %>
<h1>My Projects</h1>
<h2 class="center">Burnout Battle (java)</h2>
<img src="/images/burnoutbattle.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} projects" alt="java-lightcycle-game">
<p>This is a Tron like lightcycle game where the objective is to run the player off the map or to collect the dots (if single-player)The project was completed as the final for my introduction to Java course. It mostly utilized the swing and the graphics libraries of java. You can check out the source code on <a href="https://github.com/bribrah/Java-Final-Project">github</a>. There is also a runnable jar in the repository if you would like to take it for a spin.
</p>

<h2 class="center">Calculator (JS)</h2>
<img src="/images/calculator_project.png" alt="calculator" class="projects">
<p>
    A simple javascript calculator with all the basic functions Was my first challenging javascript project, and also utilized html/css/web-design skills. The source code can be found on my <a href="https://github.com/bribrah/calculator">github</a> and you can view the web-app <a href="https://bribrah.github.io/calculator/">here</a>.
</p>

<h2 class="center">Hangman (Sinatra/Ruby)</h2>
<img src="/images/hangman.png" alt="hangman" class="projects">
<p>
    A sinatra framework/ruby based hangman game. First backend project I had in ruby and first real web app hosting with a ruby framework. Also utilized web-design/css/html concepts. The web app can be viewed/played <a href="https://brianshangman.herokuapp.com">here</a>.
</p>
