<% provide(:title, "Projects") %>
<h1 class="project" style="margin-bottom: 4px;">My Projects</h1>
<h3 class="center"><a href="https://github.com/bribrah">Github Profile</a></h3>

<div class="project">
<h2 >Burnout Battle (java)</h2>
<img src="/images/burnoutbattle.png"  alt="java-lightcycle-game">
<p>This is a Tron like lightcycle game where the objective is to run the player off the map or to collect the dots (if single-player)The project was completed as the final for my introduction to Java course. It mostly utilized the swing and the graphics libraries of java. You can check out the source code on <a href="https://github.com/bribrah/Java-Final-Project">github</a>. There is also a runnable jar in the repository if you would like to take it for a spin.
</p>
</div>
<div class="project">
    <h2><a href="http://jamminmovies.com/">Jammin Movies (JS/CSS/HTML/Python)</a></h2>
    <img src="/images/jammin-movies.png" alt="">
    <p>
        This is a website I built for my girlfriend and I to keep track of the movies we are watching.
        It also has a built in random movie picker because that is how we usually pick what movie to watch.
        The project uses the firebase database for storage and integrates in a lot of different javascript and css
        concepts. Also utilizes the BeautifulSoup4 python module to webscrape the libraries of all three major
        streaming services and display which movies on the list are streamable. It also supports user accounts
        and organization by integrating the firebase integration system. The app is fully written using only
        vanilla JS and is hosted for free on github pages.
    </p>
</div>
<div class="project">
    <h2><a href="https://bribrah.github.io/JS-30/index.html">JS 30 (Javascript)</a></h2>
    <img src="/images/js30 collage.png" alt="">
    <p>
        JS30 is an online course that teaches general JS, HTML, and CSS. It a collection of 30 projects that 
        teach a variety of Javascript and CSS practices. Click the link above to be taken to my index of JS30 
        projects that I have completed!
    </p>
</div>


<div class="project">
    <h2> <a href="https://brians-sample-app.herokuapp.com/"> Rails Sample App (Ruby on Rails)</a></h2>
    <p>
        This is a website I created using online tutorials. The website supports custom users and account creation, posts, and user profile customization. The site is still a work in progress, but I have learned about cookies, authentication, secure practices that pertain to rails and web development, among many many other things. Final website will function as a twitter like clone.
    </p>
</div>


<div class="project">
    <h2 ><a href="https://bribrah.github.io/calculator/">Calculator (Javascript)</a></h2>
    <img src="/images/calculator_project.png" alt="calculator">
    <p>
        A simple javascript calculator with all the basic functions. This was my first challenging javascript project, and also utilized html/css/web-design skills. The source code can be found on my <a href="https://github.com/bribrah/calculator">github</a> and you can view the web-app by following the link above.</a>.
    </p>
</div>
    

<div class="project">
    <h2 ><a href="https://brianshangman.herokuapp.com">Hangman (Sinatra/Ruby)</a></h2>
    <img src="/images/hangman.png" alt="hangman">
    <p>
        A sinatra framework/ruby based hangman game. First backend project I had in ruby and first real web app hosting with a ruby framework. Also utilized web-design/css/html concepts. The web app can be viewed/played by following the link above.</a>.
    </p>
</div>

<div class="project">
    <h2 >This Website (Ruby on Rails)</h2>
    <p>
        This website was created using the Ruby on Rails framework and does not use any type of blog or web engine. It is my first real Ruby on Rails app and I intend to continually improve the design and add more features as time goes on!
    </p>
</div>
<script>
        if ( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)){
            const images = document.querySelectorAll('img');
            console.log("test")
            images.forEach(image =>{
                image.style.width = '100%';
                image.style.height = 'auto';
            })
        }
</script>

