<div class="well">
        <div class="page-header" style="margin-top: 5px">
            <h3 style="margin-top: 5px">Comment by <%= comment.author_name %>
                <%= link_to  [comment.post, comment], method: :delete, data:{ confirm: "Are you Sure?"} do%>
                    <span style="float:right; font-size: .5em;"> Delete comment</span> </h3>
                <% end%>
            <p class="small" style="margin-top: 5px;">Posted <%= distance_of_time_in_words(comment.created_at,DateTime.now) %> ago</p>
        </div>
        <p class="comment-body"><%= comment.body %></p>
    </div>