@import "bootstrap-sprockets";
@import "bootstrap";
.post_title{
    margin-bottom: 25px;
    a{
        font-weight: 600;
        font-size: 2em;
        color: white;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }
}

.bottom-buttons {
    margin-top: 30px;
    p{
        font-size: .9em;
        text-decoration: none;
        margin: 5px 5px;
    }
}

.admin-buttons{
    font-size: .5em;
}
img{
    max-width: 100%;
}