@import "bootstrap-sprockets";
@import "bootstrap";
.post_title{
    margin-bottom: 25px;
    a{
        font-weight: 600;
        font-size: 2em;
        color: white;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }
}

.bottom-buttons {
    margin-top: 30px;
    p{
        font-size: .9em;
        text-decoration: none;
        margin: 5px 5px;
    }
}

.admin-buttons{
    font-size: .5em;
}
.post-links{
    display: flex;
    flex-wrap: wrap;
    img{
        width: 100%;
    }
    
}
.post-links > * {
    flex: 1 0 45%;
    margin: 10px;
    width: auto;
}
.post-link{
    text-align: center;
    position: relative;
    font-weight: bolder;
    font-size: 4.5vmin;
    max-width: 50%;
}
.post-link-caption{
    position: absolute;
    color: white;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    .badge{
        font-size: 1.5vmax;
    }

    
}

