@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

/* universal */
.center{
    text-align: center;
    h1{
        margin-bottom: 10px;
    }
}
body {
    padding-top: 60px;
    background-color: snow;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }


/* navbar */
#logo{
    float: left;
    font-size: 2.5em;
    text-align: center;
    &:hover {
        color: greenyellow;
        text-decoration: none;
    }
}
header{
    background-color: cornflowerblue;
}
nav{
    li{
        font-size: 1.3em
    }
}

/* UNIVERSAL */


  /* typography */
  div{
      &.project{
          border-top: 1px solid black;
          h2{
              text-align: center;
          }
          img{
            width: 500px;
            display: block;
            margin: auto;
          }
      }
  }
h1 {
    font-size: 4em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
    font-family: Palatino,Helveitca,Arial,sans-serif;
    &.with_subtext{
        margin-bottom: 0px
    }
  }
  p{
      margin-top: 30px;
      font-size: 1.5em;
  }
  i{
      display: block;
      margin: auto;
      width: 40%;
  }
  img{
    &.with_subtext{
        margin-bottom: -8px;
    }
}
table{
    border-collapse: separate;
}
td, th {
    padding-right: 7px;
    padding-top: 0px 
}
  /* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $gray-light;
    a {
      color: $gray;
      &:hover {
        color: $gray-darker;
      }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
  }
  .carousel-inner > .item > a > img {
    margin: 0 auto;
  }
  .carousel {
    max-height: 700px;
    overflow: auto;
    
    .item img {
      width: 100%;
      height: auto;
  }
}
.cke_dialog_background_cover {
  display:none;
  }
  .carousel-caption{
    h3{
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-weight: 650;
      font-size: 6vmin;
    }
  }
  .carousel-image{
    max-height: 211vw;
    min-height: 43vw;
    min-width: auto;
        
  }