@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
.center{
    text-align: center;
    h1{
        margin-bottom: 10px;
    }
}


/* navbar */
#logo{
    float: left;
    font-size: 2.5em;
    text-align: center;
    &:hover {
        color: greenyellow;
        text-decoration: none;
    }
}
header{
    background-color: cornflowerblue;
}
nav{
    li{
        font-size: 1.3em
    }
}

/* UNIVERSAL */
body {
    padding-top: 60px;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }

  /* typography */
h1 {
    font-size: 4em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    &.with_subtext{
        margin-bottom: 0px
    }
  }
  p{
      margin-top: 30px;
      font-size: 1.5em;
  }
  i{
      display: block;
      margin: auto;
      width: 40%;
  }
  img{
    &.with_subtext{
        margin-bottom: -8px;
    }
}
table{
    border-collapse: separate;
}
td, th {
    padding-right: 7px;
    padding-top: 0px 
}
  