@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
.center{
    text-align: center
}


/* navbar */
#logo{
    float: left;
    font-size: 2.5em;
    text-align: center;
    &:hover {
        color: greenyellow;
        text-decoration: none;
    }
}
header{
    background-color: cornflowerblue;
}
nav{
    li{
        font-size: 1.3em
    }
}