<footer class="footer">
    <small>
        The Coding Noob Blog by Brian Espinosa
    </small>

    <nav>
        <ul>
            <li><strong>Email:</strong>  brianthecodingnoob@gmail.com</li>
            <li><strong>Github:</strong> <a href="https://github.com/bribrah">https://github.com/bribrah</a></li>
        </ul>
    </nav>
</footer>